 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-block-size: 100vh;
}

.panel {
    background-color: #FFFFFF;
    max-inline-size: 18rem;
    max-block-size: 30rem;
    padding: 0.8rem;
    padding-block-end: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

img {
    inline-size: 100%;
    block-size: auto;
    border-radius: 0.8rem;
}

.text {
    inline-size: 16rem;
    block-size: 8rem;
    margin-block-start: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold {
    margin-block-end: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    font-size: 1.2rem;
    line-height: 120%;
    color: #1F314F;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faint {
    line-height: 140%;
    letter-spacing: 0.02rem;
    font-size: 0.9rem;
    color: #68778D;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bold,
.faint {
    font-family: Outfit, sans-serif;
}