 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.panel {
    background-color: #FFFFFF;
    max-width: 18rem;
    max-height: 30rem;
    padding: 0.8rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.8rem;
}

.text {
    width: 16rem;
    height: 8rem;
    margin-top: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold {
    margin-bottom: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.01rem;
    font-size: 1.2rem;
    line-height: 120%;
    color: #1F314F;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.faint {
    line-height: 140%;
    letter-spacing: 0.02rem;
    font-size: 0.9rem;
    color: #68778D;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bold,
.faint {
    font-family: Outfit, sans-serif;
}